body{
	margin: 0px;
	padding: 0px;
	background-color: black;
}

h1 {
	margin-left:auto;
	font-size: 20px;
	font-family: Helvetica, Arial, sans-serif;
	color: white;
}

nav {
	max-width: 1600px;
	max-height: 1600px;
	margin: auto;

}

.main {
	width: 1600px;
	height: 900px;
	margin:auto;
	text-align: center;
	background-color: #FFF;
	border: 1px dotted black;
	border-radius: .5%;

}

.ppal{
	width: 1480px;
	height: 440px;
	margin: auto;
	margin-top: 5%;
	text-align: center;
	background-color: #FFECF9;
	
}
.ppal img {
	width: 100%;
	height: 440px;
}

form {
	margin-top: 5%;
	display: inline-block;
}

input {
	font-size: 15px;
}
span{
	font-size: 18px;
	font-family: comic sans MS, cursive, serif;
}
.fssubmitbutton
{
	background-color: darkgrey;
	font-family: comic sans MS, cursive, serif;
	font-size: 13px;
}

.botones{
	width: 150px;
	margin-top: 5%;
	float: right;
	margin-right: 5%
}

#uno{
	width: 36px;
	height: 36px;
	background-color: white;
	display: inline-block;
}

#uno img {
	width: 100%;
	height: 100%;
}

#dos {
	width: 36px;
	height: 36px;
	background-color: white;
	display: inline-block;
}

#dos img {
	width: 100%;
	height: 100%;
}

#tres {
	width: 36px;
	height: 36px;
	background-color: white;
	display: inline-block;
}

#tres img {
	width: 100%;
	height: 100%;
}
p {
	margin-top: 200px;
	font-size: 15px;
	font-family: comic sans ms, cursive, sans-serif;
}